.automated{
    -webkit-clip-path: polygon(39% 27%, 66% 30%, 100% 0, 100% 90%, 79% 92%, 55% 79%, 33% 77%, 0 100%, 0 14%, 20% 11%);
clip-path: polygon(39% 27%, 66% 30%, 100% 0, 100% 90%, 79% 92%, 55% 79%, 33% 77%, 0 100%, 0 14%, 20% 11%);
height: 1400px;
box-shadow: 0px 16px 48px #00000029;
background: #F8FAFC;
}