  @use'../custom'as*;

  header{

    box-shadow: none;
    .navImage{
        width: 164px !important;
        height: 48px;
        margin-left:auto;
        margin-right:auto;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      button{
        width: 100vh;
      };

      nav{

        border-bottom: 3px solid black;

       ul{
        li{
          padding: 2px;
        }
        a{
          font-size: 40px;
          font-weight: 600;
        }
       }
       
      }
     
  }
